
.border {
    margin: .3rem;
    border-radius: 5px;
    padding: 3rem 0rem;
    min-height: 150px;
    width: 100%;
    background-image:linear-gradient(to bottom,#4169E1, blue);
    box-shadow: 1px 1px 12px 2px #4169E1;
    text-align: center;
    color:whitesmoke;
    text-shadow: 1px 1px 1px black;
    
    
} 

.biggerFont {
    font-size: 20px;
    margin: .3rem;
    border-radius: 5px;
    padding: 3rem 0rem;
    min-height: 150px;
    width: 100%;
    background-image:linear-gradient(to bottom,#4169E1, blue);
    box-shadow: 1px 1px 12px 2px #4169E1;
    text-align: center;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}

.biggerFont:hover {
cursor: pointer;
}

.header {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 3px black;
    color: blue;
}